In [13]:
import pandas as pd
df = pd.read_csv("history.csv", index_col=0)
df.rename(columns={"into": "open", "inth": "high", "intc": "close", "intl": "low"}, inplace=True)
df = df[["time", "open", "high", "low", "close"]]
df = df.iloc[::-1]
df

                    time      open      high       low     close
114  26-03-2024 09:15:00  46638.75  46782.15  46638.75  46738.05
113  26-03-2024 09:30:00  46740.50  46778.40  46684.10  46713.45
112  26-03-2024 09:45:00  46714.10  46738.15  46667.95  46689.30
111  26-03-2024 10:00:00  46688.25  46716.30  46594.05  46638.15
110  26-03-2024 10:15:00  46634.55  46675.50  46605.50  46661.80
..                   ...       ...       ...       ...       ...
4    02-04-2024 11:45:00  47607.05  47627.65  47586.80  47603.70
3    02-04-2024 12:00:00  47603.85  47628.95  47582.30  47598.85
2    02-04-2024 12:15:00  47597.65  47624.10  47579.25  47589.10
1    02-04-2024 12:30:00  47590.10  47663.10  47590.10  47651.50
0    02-04-2024 12:45:00  47654.70  47661.40  47604.95  47608.80

[115 rows x 5 columns]

In [8]:
from streaming_indicators import CPR
cpr_obj = CPR()
for i, row in df.iterrows():
    row_as_dict = row.to_dict()
    row_as_dict
    print(cpr_obj.compute(row_as_dict))

(47625.05, 47633.18, 47616.92)
(47634.9, 47626.6, 47643.2)
(47597.48, 47601.68, 47593.28)
(47603.37, 47605.62, 47601.12)
(47606.05, 47607.23, 47604.87)
(47619.07, 47625.72, 47612.42)
(47615.45, 47615.32, 47615.58)
(47623.82, 47624.1, 47623.54)
(47585.43, 47593.72, 47577.14)
(47583.0, 47576.43, 47589.57)
(47590.78, 47593.12, 47588.44)
(47591.0, 47598.62, 47583.38)
(47615.9, 47633.57, 47598.23)
(47622.43, 47589.3, 47655.56)
(47483.92, 47475.72, 47492.12)
(47541.5, 47566.88, 47516.12)
(47567.87, 47559.88, 47575.86)
(47528.17, 47515.1, 47541.24)
(47485.03, 47487.32, 47482.74)
(47494.42, 47492.57, 47496.27)
(47506.17, 47509.98, 47502.36)
(47498.67, 47504.28, 47493.06)
(47532.15, 47534.53, 47529.77)
(47493.03, 47486.38, 47499.68)
(47470.13, 47471.8, 47468.46)
(47500.07, 47500.38, 47499.76)
(47547.62, 47549.07, 47546.17)
(47551.18, 47551.35, 47551.01)
(47558.05, 47563.23, 47552.87)
(47562.55, 47561.6, 47563.5)
(47568.65, 47567.1, 47570.2)
(47564.45, 47564.75, 47564.15)
(47539.62, 47527.6, 47551.64)
(47550.15, 47549.7, 47550.6)
(47567.45, 47573.43, 47561.47)
(47541.55, 47535.0, 47548.1)
(47550.17, 47553.47, 47546.87)
(47553.62, 47537.57, 47569.67)
(47545.28, 47560.2, 47530.36)
(47530.95, 47513.18, 47548.72)
(47270.42, 47210.1, 47330.74)
(47091.77, 47119.3, 47064.24)
(47293.55, 47323.4, 47263.7)
(47409.9, 47406.7, 47413.1)
(47408.12, 47408.8, 47407.44)
(47387.95, 47379.07, 47396.83)
(47345.2, 47344.95, 47345.45)
(47346.72, 47346.25, 47347.19)
(47335.7, 47340.8, 47330.6)
(47323.52, 47316.38, 47330.66)
(47319.82, 47334.07, 47305.57)
(47292.47, 47274.03, 47310.91)
(47212.38, 47214.55, 47210.21)
(47214.28, 47217.73, 47210.83)
(47239.4, 47241.4, 47237.4)
(47266.63, 47272.65, 47260.61)
(47314.38, 47316.6, 47312.16)
(47324.17, 47313.22, 47335.12)
(47277.22, 47274.62, 47279.82)
(47256.57, 47241.88, 47271.26)
(47205.08, 47208.47, 47201.69)
(47143.18, 47134.05, 47152.31)
(47125.43, 47131.62, 47119.24)
(47104.72, 47087.4, 47122.04)
(47001.02, 46973.35, 47028.69)
(46855.38, 46857.5, 46853.26)
(46749.2, 46730.1, 46768.3)
(46731.68, 46726.75, 46736.61)
(46738.88, 46729.28, 46748.48)
(46737.1, 46740.43, 46733.77)
(46772.62, 46777.03, 46768.21)
(46796.75, 46801.18, 46792.32)
(46793.8, 46788.93, 46798.67)
(46773.82, 46776.7, 46770.94)
(46795.72, 46796.43, 46795.01)
(46796.0, 46787.5, 46804.5)
(46772.0, 46772.95, 46771.05)
(46778.83, 46785.32, 46772.34)
(46787.92, 46785.6, 46790.24)
(46807.02, 46812.12, 46801.92)
(46800.87, 46794.0, 46807.74)
(46802.15, 46802.35, 46801.95)
(46796.37, 46796.35, 46796.39)
(46830.47, 46840.2, 46820.74)
(46889.52, 46892.77, 46886.27)
(46889.63, 46894.95, 46884.31)
(46866.87, 46864.68, 46869.06)
(46804.47, 46798.05, 46810.89)
(46785.68, 46774.8, 46796.56)
(46719.05, 46712.28, 46725.82)
(46614.67, 46610.28, 46619.06)
(46601.15, 46597.05, 46605.25)
(46575.17, 46571.2, 46579.14)
(46580.58, 46593.85, 46567.31)
(46640.25, 46637.35, 46643.15)
(46645.62, 46651.0, 46640.24)
(46617.8, 46612.12, 46623.48)
(46640.0, 46646.25, 46633.75)
(46677.32, 46684.38, 46670.26)
(46717.37, 46720.93, 46713.81)
(46723.68, 46722.85, 46724.51)
(46706.25, 46705.93, 46706.57)
(46706.12, 46703.02, 46709.22)
(46689.42, 46693.75, 46685.09)
(46714.5, 46722.55, 46706.45)
(46711.42, 46701.25, 46721.59)
(46665.75, 46658.3, 46673.2)
(46635.08, 46634.38, 46635.78)
(46635.07, 46637.45, 46632.69)
(46659.3, 46673.25, 46645.35)
(46647.6, 46640.5, 46654.7)
(46649.5, 46655.18, 46643.82)
(46698.47, 46703.05, 46693.89)
(46725.32, 46731.25, 46719.39)
(46719.65, 46710.45, 46728.85)

In [14]:
from streaming_indicators import CPR, SuperTrend, EMA
cpr_obj = CPR()
ema_long = EMA(period=6)
ema_short = EMA(period=1)
st = SuperTrend(atr_length=1, factor=2.1)

def apply_indicators(row_as_dict):
    _cpr, _bc, _tc = cpr_obj.update(row_as_dict)
    _ema_long = ema_long.update(row_as_dict["close"])
    _ema_short = ema_short.update(row_as_dict["close"])
    _st, _final_band = st.update(row_as_dict)
    return _cpr, _bc, _tc, _ema_long, _ema_short, _st, _final_band

df[["cpr", "bc", "tc", "ema_60m", "ema_15m", "ST Direction", "ST Value"]] = df.apply(lambda row: apply_indicators(row.to_dict()), axis='columns', result_type='expand')
df

                    time      open      high  ...   ema_15m  ST Direction  ST Value
114  26-03-2024 09:15:00  46638.75  46782.15  ...  46738.05           1.0  46409.31
113  26-03-2024 09:30:00  46740.50  46778.40  ...  46713.45           1.0  46533.22
112  26-03-2024 09:45:00  46714.10  46738.15  ...  46689.30           1.0  46555.63
111  26-03-2024 10:00:00  46688.25  46716.30  ...  46638.15           1.0  46555.63
110  26-03-2024 10:15:00  46634.55  46675.50  ...  46661.80           1.0  46555.63
..                   ...       ...       ...  ...       ...           ...       ...
4    02-04-2024 11:45:00  47607.05  47627.65  ...  47603.70           1.0  47547.18
3    02-04-2024 12:00:00  47603.85  47628.95  ...  47598.85           1.0  47547.18
2    02-04-2024 12:15:00  47597.65  47624.10  ...  47589.10           1.0  47547.18
1    02-04-2024 12:30:00  47590.10  47663.10  ...  47651.50           1.0  47547.18
0    02-04-2024 12:45:00  47654.70  47661.40  ...  47608.80           1.0  47547.18

[115 rows x 12 columns]

In [15]:
df.to_csv("lite_suite_v1.csv", index=False)